<!DOCTYPE html>
<html>
<head>
    <title>Event Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">
    <h2>Workshop A</h2>
    <p>Type: Workshop</p>
    <p>Date: 25th October</p>
    <p>Time: 3 PM to 5 PM</p>
    <p>Importance: High</p>
    <p>Freebies: Food</p>
    <p>Description: This workshop focuses on advanced topics in INFO. Make sure to register in advance!</p>
    <a href="#" class="btn btn-success">Register</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
